body {
    background: #2ecc71;
    /*color: #13562f;*/
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
}

h1 {
    font-size: 4em;
    line-height: 1em;
    margin: 0;
}

h2 {
    font-size: 1.3em;
    line-height: 1em;
    margin: 0 0 2px 0;
}

h3 {
    color: #fff;
    margin: 0;
}

/*--------------------------------------*\
    Sidenav
\*--------------------------------------*/

#sidenav {
    background: #000;
    color: #fff;
    display: flex;
    font-size: 4em;
    height: 100%;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: 1s;
    width: 0;
    z-index: 3;
}

#sidenav ul {
    align-self: center;
    list-style-type: none;
    margin: 0 auto;
}

#sidenav ul li a {
    cursor: pointer;
}

#sidenav ul li a:hover {
    color: #2ecc71;
}

#sidenav.active {
    width: 100vw;
}

#sidenav.inactive {
    animation: inactive 1s;
}

/*--------------------------------------*\
    Container
\*--------------------------------------*/

#container.pre-active {
    opacity: 1;
    transition: margin 3.3s, opacity 1s;
}

#container.active {
    margin-right: 100vw;
    opacity: 0;
}

#container.inactive {
    transition: none;
}

/*--------------------------------------*\
    Navbar
\*--------------------------------------*/

nav {
    box-sizing: border-box;
    color: #27ae60;
    font-size: 4em;
    height: 20vh;
    line-height: 1em;
    padding-right: 23px;
    padding-top: 15px;
    text-align: right;
}

#trigram, .trigram {
    cursor: pointer;
    opacity: 1;
    transition: all 2s;
}

#trigram:hover {
    color: #fff;
}

#trigram.hidden {
    opacity: 0;
}

.trigram {
    opacity: 0;
    position: absolute;
    right: -100px;
    top: 0;
}

.trigram#show {
    opacity: 1;
    right: 15px;
    transition: all 1s;
}

/*--------------------------------------*\
    Home
\*--------------------------------------*/

#home {
    align-items: center;
    color: #fff;
    display: flex;
    height: 77vh;
    justify-content: center;
    position: relative;
    text-align: center;
}

#home div {
    margin-bottom: 25vh;
}

#home p {
    font-size: 2em;
    margin: 0;
}

.down-arrow {
    animation: down-arrow-move 2.5s ease 0s infinite;
    background: #27ae60;
    bottom: 2px;
    clip-path: polygon(20% 0%, 20% 60%, 0% 60%, 50% 100%, 100% 60%, 80% 60%, 80% 0%);
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 20%;
    width: 50px;
}

/*--------------------------------------*\
    About
\*--------------------------------------*/

#about {
    background: #27ae60;
    box-sizing: border-box;
    height: 62vw;
    padding: 17vw;
    position: relative;
    width: 100%;
}

.blurb-container {
    display: flex;
    flex: 2;
    left: 8vw;
    max-width: 80%;
    position: absolute;
    top: 8vw;
    z-index: 1;
}

.circle {
    background-attachment: fixed;
    background-color: #0f0909;
    background-image: url('../images/me.jpg');
    background-position: 7% 0% !important;
    background-repeat: no-repeat;
    background-size: 30%;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 20vw;
    min-width: 20vw;
}

.code {
    color: #2ecc71;
    font-size: 1.1vw;
    max-width: 66%;
    transform: rotate(20deg);
}

.blurb {
    align-self: center;
    box-sizing: border-box;
    padding-left: 5px;
}

.blurb p {
    background: #27ae60;
    color: #000;
    font-family: 'Roboto', serif;
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 0;
}

.blurb hr {
    border: 0;
    height: 0;
    border-top: 2px solid #fff;
}

.keep-scrolling {
    bottom: 15px;
    color: #fff;
    font-style: italic;
    position: absolute;
    right: 15px;
}

.keep-scrolling span {
    color: #2ecc71;
}

/*--------------------------------------*\
    Skills
\*--------------------------------------*/

#skills {
    padding: 1%;
}

.skills-enclosing {
    background: #27ae60;
    display: flex;
    flex-direction: column;
    height: 52vw;
    justify-content: center;
    position: relative;
}

.skills-enclosing h2 {
    font-size: 2.5vw;
    font-weight: 40;
    left: 1em;
    position: absolute;
    top: 2em;
    transform: rotate(-20deg);
}

.skills-container {
    display: flex;
    flex-direction: column;
    font-family: 'Share Tech Mono';
    height: 40vw;
    margin: 0 auto;
    width: 60vw;
}

.skills-container .row, .skills-container .row-bottom {
    display: flex;
    flex: 1;
}

.skills-container .row .skills-area {
    box-sizing: border-box;
    flex: 1;
    padding: 0 1vw 0 1vw;
}

.skills-container .row-bottom .skills-area {
    box-sizing: border-box;
    flex: 1;
    padding: 0 1vw 0 1vw;
}

.skills-container .row .skills-area div, .skills-container .row-bottom .skills-area div {
    box-shadow: 0px 1px 2px 0px rgba(24,112,61,0.75);
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    height: 100%;
    justify-content: center;
    text-align: center;
    transition: all 300ms ease-in-out;
    width: 100%;
}

.skills-container .row .skills-area div:hover, .skills-container .row-bottom .skills-area div:hover {
    box-shadow: 0px 3px 2px 0px rgba(24,112,61,0.75);
    color: #000;
    transform: translate(0em, -0.2em);
}

.skills-container .row-big {
    box-sizing: border-box;
    display: flex;
    flex: 4;
    padding: 2vw 0 0px 0;
}

.skills-container .row-big-bottom {
    box-sizing: border-box;
    display: flex;
    flex: 4;
    padding: 1vw 0 2vw 0;
}

.skills-container .row-big div, .skills-container .row-big-bottom div {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: space-between;
}

.skills-container .row-big span, .skills-container .row-big-bottom span {
    border: 1px solid #27ae60;
    box-shadow: 0px 1px 2px 0px rgba(24,112,61,0.75);
    width: 9.8%;
}

.html {background: #f1c40f;         transition: all 400ms ease-in-out;}
.css {background: #9b59b6;          transition: all 400ms ease-in-out;}
.javascript {background: #f62459;   transition: all 400ms ease-in-out;}
.jquery {background: #19B5fe;       transition: all 400ms ease-in-out;}
.php {background: #2C3e50;          transition: all 400ms ease-in-out;}
.react {background: #f22613;        transition: all 400ms ease-in-out;}
.bootstrap {background: #87D37C;    transition: all 400ms ease-in-out;}
.wordpress {background: #446cb3;    transition: all 400ms ease-in-out;}
.sass {background: #f89406;         transition: all 400ms ease-in-out;}
.scrum {background: #D2D7D3;        transition: all 400ms ease-in-out;}

/*--------------------------------------*\
    Portfolio
\*--------------------------------------*/

#portfolio {
    border-bottom: 2px dashed #27ae60;
    padding: 3vw 3vw 30px 3vw;
}

#portfolio a {
    color: #fff;
}

#portfolio a:hover {
    color: #92e086;
}

#portfolio p {
    margin: 0;
}

#portfolio .info {
    margin: auto;
    padding: 15px 0 0 0;
    width: 400px;
}

#portfolio .carousel-container {
    box-shadow: inset 4px 4px 0px 0px #27ae60, inset -4px -4px 0px 0px #92e086;
    margin: auto;
    padding: 4px;
    width: 330px;
}

/*--------------------------------------*\
    Contact
\*--------------------------------------*/

#contact {
    box-sizing: border-box;
    display: flex;
    padding: 2% 0 0 1%;
}

.contact-form {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1%;
}

#contact form {
    width: 100%;
}

#contact form input, #contact form textarea {
    border: 5px solid #27ae60;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-size: 1em;
    margin-bottom: 15px;
    height: 60px;
    padding: 15px;
    width: 100%;
}

#contact form textarea {
    height: 200px;
}

#contact form input[type='submit'] {
    background: #92e086;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    height: 70px;
}

#contact form input[type='submit']:hover {
    background: #7bbf70;
}

#contact form input[disabled] {
    color: #000;
}

#contact form input[disabled]:hover {
    background: #92e086;
    cursor: default;
}

#submitBtn.error {
    background: #cc392e;
    border-color: #7f0c03;
}

.contact-text {
    display: none;
    flex: 1;
    font-size: 5vw;
}

.contact-text span {
    color: #fff;
}

.contact-text-small {
    display: block;
    text-align: center;
}

.contact-text-small span {
    color: #fff;
}

/*--------------------------------------*\
    Footer
\*--------------------------------------*/

footer {
    background: #27ae60;
    color: #92e086;
    display: flex;
    font-size: 2em;
    height: 230px;
    justify-content: center;
    margin-top: 20px;
    padding: 15px;
}

footer ul {
    align-self: center;
    list-style-type: none;
    margin: 0;
}

footer ul li {
    float: left;
}

footer ul li a {
    cursor: pointer;
}

footer ul li a:hover {
    color: #fff;
}

/*--------------------------------------*\
    Landing elements
\*--------------------------------------*/

.fade-in {
    transition: 1.5s ease-in-out;
    opacity: 0;
}

.fade-in2 {
    transition: 2.5s ease-in-out;
    opacity: 0;
}

.fly-in-left {
    transition: 1s ease-in-out;
    transform: translate(-600px, 0);
}

.fly-in-right {
    transition: 1s ease-in-out;
    transform: translate(600px, 0);
}

.visible {
    transform: translate(0, 0);
    opacity: 1;
}

/*--------------------------------------*\
    Media queries
\*--------------------------------------*/

@media screen and (min-width: 480px) {
    #portfolio .carousel-container {width: 430px;}
}

@media screen and (min-width: 560px) {
    #sidenav {font-size: 6em;}
    .trigram#show {right: 30px;}
    #about {
        clip-path: polygon(0% 100%, 0% 0%, 90% 0%, 90% 50%, 84% 70%, 84% 100%,
            85% 100%, 85% 70.5%, 91% 50.5%, 91% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .keep-scrolling {right: 18vw;}
    #contact form {width: auto;}
    #contact form input, .contact form textarea {width: 456px;}
    footer {font-size: 4.5vw;}
}

@media screen and (min-width: 780px) {
    h2 {
        font-size: 3em;
    }
    .blurb p {
        font-size: 1em;
    }
    .skills-container .row .skills-area div, .skills-container .row-bottom .skills-area div {
        font-size: 1em;
    }
}

@media screen and (min-width: 1030px) {
    #about {
        clip-path: polygon(0% 0%, 63% 0%, 63% 30%, 69% 50%, 69% 100%, 70% 100%,
        70% 49.5%, 64% 29.5%, 64% 0%, 100% 0%, 100% 100%, 0% 100%);
        height: 100vh;
    }
    .blurb-container {max-width: 54%;}
    .keep-scrolling {right: 15px;}
    .contact-text {display: inline;}
    .contact-text-small {display: none;}
    footer {font-size: 3em;}
}

@keyframes down-arrow-move {
    0%   {bottom: 2px;}
    50% {bottom: 18px;}
    100% {bottom: 2px;}
}

@keyframes up-arrow-move {
    0%   {bottom: 6px;}
    50% {bottom: 22px;}
    100% {bottom: 6px;}
}

@keyframes inactive {
    0% {opacity: 1; width: 100vw;}
    99% {opacity: 0; width: 100vw;}
    100% {opacity: 0; width: 0;}
}